/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  color: #555;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 825px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

article {
  margin-bottom: 60px;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 30px;
  /* height: 80px; */
}

.post-header {
  margin-bottom: 30px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 50px;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  color: #1098ad;
  margin-bottom: 10px;
}

h1,
h4 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 40px;
}

h2 {
  /* background-color: pink; */
  position: relative;
}

h2::after {
  content: 'TOP';
  color: #444;
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  right: 0px;
  top: -10px;
}

h4,
li {
  font-size: 20px;
}

li {
  margin-bottom: 10px;
  /* display: inline; */
}

li:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 26px;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 10px;
}

h4 {
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

p::first-letter {
  /* color: red;
  font-size: 30px;
  font-weight: 700; */
}

h3 + p::first-letter {
  color: red;
  font-size: 30px;
  font-weight: 700;
}

header + P::first-letter {
  color: red;
  font-size: 30px;
  font-weight: 700;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

/* footer > p {
  font-size: 18px;
} */

#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 20px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style-type: none;
}

nav {
  font-size: 18px;
}

nav a:link {
  /* background-color: orangered;
  margin: 5px;
  padding: 5px;
  display: block; */

  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

.list-1-1 {
  font-weight: 700;
}

.list-2-1 {
  font-weight: bold;
}

/* li:first-child {
  font-weight: 700;
} */

/* li:last-child {
  font-style: italic;
} */

/* li:nth-child(odd) {
  color: red;
}

li:nth-child(2) {
  color: green;
} */

/* LVHA (Link, Visited, Hover, Active) order of link pseudo-classes a:link, */
a:link,
a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline solid orangered;
}

a:active {
  color: white;
  background-color: #1098ad;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

.btn {
  background-color: #1098ad;
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  border: 0;
  box-shadow: 5px 5px 10px #888;
  position: absolute;
  bottom: 100px;
  right: 50px;
}
